<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container mt-5">
            <ul>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Register</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/iframe}">Iframe</a></li>
                <li><a th:href="@{/form}">Form</a></li>
            </ul>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
